<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <style>
        html, body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            font-family: 'Nanum Gothic', sans-serif;
        }
        .layoutContainer {
            width: 60vw;
            margin: auto;
            background-color: #ffffff;
            min-width: 800px;
        }
        .layoutContent {
            min-height: 800px;
        }

        /* Sweet Alert */
        .swal-button {
            background-color: #2c3e50;
        }
        .swal-button:not([disabled]):hover {
            background-color: #2c3e50;
        }
    </style>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="js/common.js" type="text/javascript"></script>
<script src="js/student.js" type="text/javascript"></script>
<div class="layoutContainer">
    <header th:replace="fragments/header :: headerFragment"></header>
    <div layout:fragment="content" class="layoutContent mt-2">

    </div>
    <!-- Login Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">로그인</h5>
                    <button type="button" id="btnLoginClose" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="loginForm" name="loginForm">
                <div class="modal-body w-75 m-auto">
                        <div class="input-group mt-3 mb-3">
                            <input type="text" id="loginEmail" class="form-control" placeholder="이메일">
                            <span class="input-group-text ml-2">@sogang.ac.kr</span>
                        </div>
                        <input type="password" id="loginPassword" class="form-control mb-3" placeholder="패스워드">
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <div>
                        <button type="button" id="btnSearchInfo" class="btn btn-secondary font-weight-normal">회원정보찾기</button>
                        <input type="hidden" id="loginAuthCode" name="authCode" class="form-control d-inline-block ml-2" placeholder="인증번호" style="width: 150px; height: 36px; padding-top: 3px;">
                        <button type="button" id="btnLoginAuthCheck" class="btn btn-outline-primary font-weight-normal ml-2">확인</button>
                        <!--<button type="button" id="btnAuthCodeCheck" class="btn btn-outline-primary font-weight-normal ml-2">확인</button>-->
                    </div>
                    <button type="button" id="btnLogin" class="btn btn-primary font-weight-normal">로그인</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Register Modal -->
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <br>
                    <h5 class="modal-title" id="registerModalLabel">회원가입</h5>
                    <button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body w-75 m-auto">
                    <form id="registerForm" name="registerForm">
                        <div align="left">
                            <span class="badge badge-dark mb-1">이용약관</span>
                            <textarea class="form-control fs-085 mt-1">이용약관이 필요해요
                             </textarea>
                            <input type="checkbox" id="checkAgreement" class="mt-2" name="agreement"/>
                            <label for="checkAgreement" class="fs-085 m-0">상기내용을 확인하였고 동의합니다</label>
                        </div>
                        <div class="input-group mt-3 mb-3" >
                            <input type="text" id="registerEmail" name="email" class="form-control" placeholder="이메일">
                            <span class="input-group-text ml-2" id="basic-addon2">@sogang.ac.kr</span>
                        </div>
                        <div class="input-group mb-3">
                            <button type="button" id="btnSendAuth" class="btn btn-outline-secondary font-weight-normal mr-2">인증발송</button>
                            <input type="password" id="registerAuthCode" name="authCode" class="form-control" placeholder="인증번호">
                            <input type="hidden" id="emailAuth" class="auth" value="0"/>
                            <button type="button" id="btnAuthCodeCheck" class="btn btn-outline-primary font-weight-normal ml-2">확인</button>
                            <img src="images/check.png" id="validAuthCode" style="width:12%;">
                            <input type="hidden" id="emailCheckAuth" class="auth" value="0"/>
                        </div>
                            <input type="password" id="registerPassword" name="password" class="form-control" placeholder="패스워드(영문+숫자+특수문자 조합 8자~20자)" maxlength="20">
                            <div type="hidden" id="passwordFail" class="small mb-3" style="color:red; text-indent:1em;">패스워드는 영문+숫자+특수문자 조합 8자~20자이어야 합니다.</div>
                            <input type="hidden" id="passwordAuth" class="auth" value="0" />
                            <input type="password" id="registerPasswordCheck" name="passwordCheck" class="form-control mt-3" placeholder="패스워드확인" maxlength="20">
                            <div type="hidden" id="passwordCheckFail" class="small mb-3" style="color:red; text-indent:1em;">패스워드가 일치하지 않습니다.</div>
                            <input type="hidden" id="passwordCheckAuth" class="auth" value="0" />
                        <div class="input-group mt-3 mb-3">
                            <input type="text" id="registerNickname" name="nickname" class="form-control" placeholder="닉네임" maxlength="16">
                            <button type="button" id="btnNicknameCheck" class="btn btn-outline-primary font-weight-normal ml-2" >중복확인</button>
                            <img src="images/check.png" id="validNickname" style="width:12%;">
                            <input type="hidden" id="nicknameAuth" class="auth" value="0" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" id="btnReset" class="btn btn-secondary font-weight-normal">초기화</button>
                    <button type="button" id="btnSubmit" class="btn btn-primary font-weight-normal">가입하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footerFragment"></footer>
</html>