<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.stonebeans.soca.dao.EvaluateDAO">
    <select id="getSubjectData"
            parameterType="string"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT * FROM subject WHERE subjectID=#{subjectID}
    </select>

    <select id="getAllMajors"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT DISTINCT major FROM subject
    </select>

    <select id="getAllSubjects"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT DISTINCT subjectNo, professor, code, major FROM subject ORDER BY subjectNo
    </select>
</mapper>
