<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.stonebeans.soca.dao.EvaluateDAO">
    <select id="getSubjectData"
            parameterType="string"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT * FROM subject WHERE subjectID=#{subjectID}
    </select>

    <select id="getAllMajors"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT DISTINCT major FROM subject
    </select>

    <select id="getSubjectsBySub"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT DISTINCT subjectNo, code, major FROM subject ORDER BY subjectNo
    </select>

    <select id="getSubjectsByProf"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT DISTINCT professor FROM subject ORDER BY professor
    </select>

    <select id="getThisYearSubjects"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT DISTINCT subjectNo, code, major FROM subject WHERE year="2021" AND semester="1" ORDER BY subjectNo
    </select>

    <select id="getThisYearProf"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT DISTINCT professor FROM subject WHERE year="2021" AND semester="1" ORDER BY professor
    </select>

    <select id="findProfBySubject"
            parameterType="string"
            resultType="string">
        SELECT DISTINCT professor FROM subject WHERE subjectNO=#{nowItem} ORDER BY professor
    </select>

    <select id="findSubByProf"
            parameterType="string"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT DISTINCT subjectNo, major, code FROM subject WHERE professor=#{nowItem} ORDER BY subjectNO
    </select>

    <select id="findThisYearSub"
            parameterType="string"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT DISTINCT subjectNo, major, code FROM subject WHERE professor=#{nowItem} AND year="2021" AND semester="1" ORDER BY subjectNO
    </select>

    <select id="findThisYearProf"
            parameterType="string"
            resultType="string">
        SELECT DISTINCT professor FROM subject WHERE subjectNO=#{nowItem} AND year="2021" AND semester="1" ORDER BY professor
    </select>

    <select id="findSubBySubstr"
            parameterType="string"
            resultType="string">
        SELECT DISTINCT subjectNO FROM subject WHERE subjectNO LIKE #{nowItem} ORDER BY subjectNO
    </select>

    <select id="getRecentEval"
            parameterType="integer"
            resultType="stu.stonebeans.soca.vo.EvaluateVO">
        SELECT * FROM evaluate ORDER BY postTime DESC LIMIT 0, #{num}
    </select>

    <select id="saveEvaluateWrite"
            parameterType="stu.stonebeans.soca.vo.EvaluateVO">
        INSERT INTO evaluate (email,subjectID,evaluation,grade,quality,gradeSatis,difficulty,homework,coverage,
                              testNum,score1,score2,score3,score4,average1,average2,average3,average4,rank1,rank2,rank3,rank4,
                              commentFinal,commentTest,postTime,recommendNum)
        VALUES(#{email},#{subjectID},#{evaluation},#{grade},#{quality},#{gradeSatis},#{difficulty},#{homework},#{coverage},
                                     #{testNum},#{score1},#{score2},#{score3},#{score4},#{average1},#{average2},#{average3},#{average4},#{rank1},#{rank2},#{rank3},#{rank4},
                                     #{commentFinal},#{commentTest},NOW(),0);
        UPDATE schedule SET evaluateYN="Y" WHERE subjectID=#{subjectID} AND email=#{email};
    </select>

    <select id="getEvaluateComplete"
            parameterType="HashMap"
            resultType="stu.stonebeans.soca.vo.EvaluateVO">
        SELECT * FROM evaluate WHERE email=#{email} AND subjectID=#{subjectID}
    </select>

    <select id="isRecommended"
            parameterType="HashMap"
            resultType="HashMap">
        SELECT * FROM recommendation WHERE email=#{email} AND postNum=#{postNum}
    </select>

    <select id="addRecommend"
            parameterType="HashMap">
        INSERT INTO recommendation(postNum,email,recommendDate) VALUES (#{postNum},#{email},NOW());
        UPDATE evaluate SET recommendNum=(#{recommendNum}+1) WHERE postNum=#{postNum};
    </select>

    <select id="deleteRecommend"
            parameterType="HashMap">
        DELETE FROM recommendation WHERE postNum=#{postNum} AND email=#{email};
        UPDATE evaluate SET recommendNum=(#{recommendNum}-1) WHERE postNum=#{postNum};
    </select>

    <select id="getEvaluateData"
            parameterType="HashMap"
            resultType="stu.stonebeans.soca.vo.EvaluateResultVO">
        SELECT AVG(evaluation) AS evaluationAvg, COUNT(evaluation) AS evaluationCnt,
               AVG(quality) AS qualityAvg, AVG(gradeSatis) AS gradeSatisAvg, AVG(difficulty) AS difficultyAvg,
               AVG(homework) AS homeworkAvg,AVG(coverage) AS coverageAvg
        FROM evaluate AS A JOIN subject AS B ON A.subjectID=B.subjectID
        WHERE B.code=#{code} AND B.professor=#{professor}
    </select>

    <select id="getDiffCount"
            parameterType="HashMap"
            resultType="stu.stonebeans.soca.vo.CountVO">
        SELECT difficulty AS options, COUNT(*) AS cnt FROM evaluate AS A JOIN subject AS B ON A.subjectID=B.subjectID
        WHERE B.code=#{code} AND B.professor=#{professor} GROUP BY difficulty
    </select>

    <select id="getHomeCount"
            parameterType="HashMap"
            resultType="stu.stonebeans.soca.vo.CountVO">
        SELECT homework AS options, COUNT(*) AS cnt FROM evaluate AS A JOIN subject AS B ON A.subjectID=B.subjectID
        WHERE B.code=#{code} AND B.professor=#{professor} GROUP BY homework
    </select>

    <select id="getCoverCount"
            parameterType="HashMap"
            resultType="stu.stonebeans.soca.vo.CountVO">
        SELECT coverage AS options, COUNT(*) AS cnt FROM evaluate AS A JOIN subject AS B ON A.subjectID=B.subjectID
        WHERE B.code=#{code} AND B.professor=#{professor} GROUP BY coverage
    </select>

    <select id="getRecentSubjectEval"
            resultType="stu.stonebeans.soca.vo.EvaluateVO">
        SELECT A.* FROM evaluate AS A JOIN subject AS B ON A.subjectID=B.subjectID
        WHERE B.code=#{code} AND B.professor=#{professor} ORDER BY A.postTime
    </select>

    <select id="getEvalCompleteByPostNum"
            parameterType="HashMap"
            resultType="stu.stonebeans.soca.vo.EvaluateVO">
        SELECT * FROM evaluate WHERE postNum=#{postNum}
    </select>

    <select id="findSelected"
            parameterType="HashMap"
            resultType="stu.stonebeans.soca.vo.EvaluateVO">
        SELECT A.* FROM evaluate AS A JOIN subject AS B ON A.subjectID=B.subjectID
        WHERE B.code=#{code} AND B.professor=#{professor}
    </select>

    <select id="getRecentEvalCnt"
            resultType="integer">
        SELECT COUNT(*) FROM evaluate
    </select>
</mapper>
