<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.stonebeans.soca.dao.ScheduleDAO">
    <select id="getYearSemester"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT distinct year, semester FROM subject
        ORDER BY year desc, semester asc; -- 수강년도는 내림차순, 학기는 오름차순으로 조회
    </select>

    <select id="getSubjectList"
            parameterType="HashMap"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT A.code,A.subjectNO,A.professor FROM schedule as B
        JOIN subject as A WHERE B.subjectID=A.subjectID AND B.email=#{email} AND A.year=#{year} AND A.semester=#{semester};
    </select>

    <select id="findSubjects"
            parameterType="stu.stonebeans.soca.vo.SubjectVO"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT * FROM subject where year=#{year} and semester=#{semester};
    </select>

    <select id="insertSchedule"
            parameterType="stu.stonebeans.soca.vo.ScheduleVO">
        INSERT INTO schedule(email, subjectID) values(#{email}, #{subjectID});
    </select>

    <select id="getMajor"
            parameterType="stu.stonebeans.soca.vo.SubjectVO"
            resultType="stu.stonebeans.soca.vo.SubjectVO">
        SELECT DISTINCT major FROM subject WHERE year=#{year} AND semester=#{semester} ORDER BY major;
    </select>

    <select id="checkDuplicateSchedule"
            parameterType="stu.stonebeans.soca.vo.ScheduleVO"
            resultType="stu.stonebeans.soca.vo.ScheduleVO">
        SELECT * FROM schedule WHERE email=#{email} AND subjectID=#{subjectID}
    </select>
</mapper>
