<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.stonebeans.soca.dao.StudentDAO">
    <!-- 이메일 중복 여부 체크 -->
    <select id="checkDuplicateEmail"
            parameterType="string"
            resultType="stu.stonebeans.soca.vo.StudentVO">
        SELECT * FROM student WHERE email = #{email}
    </select>

    <!-- 닉네임 중복 여부 체크-->
    <select id="checkDuplicateNickname"
            parameterType="string"
            resultType="stu.stonebeans.soca.vo.StudentVO">
        SELECT * FROM student WHERE nickname = #{nickname}
    </select>

    <!-- 학번 중복 여부 체크-->
    <select id="checkDuplicateStudentID"
            parameterType="string"
            resultType="stu.stonebeans.soca.vo.StudentVO">
        SELECT * FROM student WHERE studentID = #{studentID}
    </select>

</mapper>
