<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.stonebeans.soca.dao.StudentDAO">
    <!-- 이메일 중복 여부 체크 -->
    <select id="checkDuplicateEmail"
            parameterType="string"
            resultType="stu.stonebeans.soca.vo.StudentVO">
        SELECT * FROM student WHERE email = #{email}
    </select>

    <!-- 닉네임 중복 여부 체크-->
    <select id="checkDuplicateNickname"
            parameterType="string"
            resultType="stu.stonebeans.soca.vo.StudentVO">
        SELECT * FROM student WHERE nickname = #{nickname}
    </select>

    <!--회원가입-->
    <select id="register"
            parameterType="stu.stonebeans.soca.vo.StudentVO"
            resultType="stu.stonebeans.soca.vo.StudentVO">
        INSERT INTO student(email,password,nickname,startedDate,useYN,passwordUpdate)
        VALUES (#{email},#{password},#{nickname},NOW(),#{useYN},NOW());
    </select>

    <!--로그인-->
    <select id="login"
            parameterType="string"
            resultType="string">
        SELECT password FROM student WHERE email = #{email}
    </select>

    <!--임시 비밀번호 변경-->
    <select id="changePassword"
            parameterType="stu.stonebeans.soca.vo.StudentVO">
        UPDATE student SET password = #{password} WHERE email = #{email}
    </select>
</mapper>
