<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .logo {
            font-size: 1.5em;
            text-decoration: none;
        }
    </style>
</head>
<header th:fragment="headerFragment" class="mt-5">
    <div class="d-flex justify-content-between mb-3 mt-2">
        <a class="logo pl-2 pr-4" href="/">
            <!-- logo -->
            <img src="images/logo.png" width="100px" alt="logo">
        </a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary font-weight-normal rounded pt-1 pb-1 pl-2 pr-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto fs-090">
                <li class="nav-item pl-1 pr-1">
                    <a class="nav-link" href="#">공부방</a>
                </li>
                <li class="nav-item pl-1 pr-1">
                    <a class="nav-link" href="#">평가방</a>
                </li>
                <li class="nav-item pl-1 pr-1">
                    <a class="nav-link" href="#">질문방</a>
                </li>
            </ul>
            <!-- 로그인을 하지 않았을 때 Enable-->
            <button th:if="${session.email == null}" type="button" id="btnHRegister" class="btn btn-secondary btn-sm font-weight-normal mr-2" data-toggle="modal" data-target="#serviceAgreement">
                회원가입
            </button>
            <button th:if="${session.email == null}" type="button" id="btnHLogin" class="btn btn-danger btn-sm font-weight-normal mr-2" data-toggle="modal" data-target="#login">
                로그인
            </button>
            <!-- 로그인을 하였을 때 Enable-->
            <button th:if="${session.email != null}" type="button" id="btnHMyPage" onclick="location.href='/myPage'" class="btn btn-danger btn-sm font-weight-normal mr-2">
                마이페이지
            </button>
            <button th:if="${session.email != null}" type="button" id="btnHLogout" class="btn btn-secondary btn-sm font-weight-normal mr-2">
                로그아웃
            </button>
        </div>
    </nav>
</header>
</html>