<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
</head>
<div layout:fragment="content">
    <div class="toast show shadow-none mt-3">
        <div class="toast-header">
            <strong class="mr-auto mt-2 mb-2" style="color:#000000">강의평가</strong>
        </div>
        <div class="toast-body mt-1" id="condition" name="condition">
            <span class="pr-3"><strong class="mr-auto" style="color:#000000">정렬 조건</strong></span>
            <button type="radio" name="searchCondition" id="newest" checked="checked"><span class="pl-1 pr-3"><label for="newest">최근 평가 순</label></span>
            <button type="radio" name="searchCondition" id="highest"><span class="pl-1 pr-3"><label for="highest">평점 높은 순</label></span>
        </div>
        <div class="toast-body mt-1 mb-1">
            <ul class="list-group mt-3 pl-2 pr-2 fs-090" id="selectedEval" name="selectedEval">
            </ul>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="pages">
            </ul>
        </nav>
    </div>

    <script src="js/evaluateSelected.js" type="text/javascript"></script>
</div>

<body>

</body>
</html>