<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
</head>
<div layout:fragment="content">
    <div class="toast show shadow-none mt-3">
        <div class="toast-header">
            <form>
                <div class="float-left">
                    <span class="pr-3"><strong class="mr-auto" style="color:#000000">검색 조건</strong></span>
                    <input type="radio" name="searchCondition" id="courseNum" checked="checked"><span class="pl-1 pr-3"><label for="courseNum">과목번호</label></span>
                    <input type="radio" name="searchCondition" id="courseName"><span class="pl-1 pr-3"><label for="courseName">교과목명</label></span>
                    <input type="radio" name="searchCondition" id="professorName"><span class="pl-1 pr-3"><label for="professorName">교수명</label></span>
                    <br><span class="pr-3"><strong class="mr-auto" style="color:#000000">소속 구분</strong></span>
                    <select id="selectMajor" class="form-control d-inline-block mr-1" style="width: 200px">
                        <option>전체</option>
                    </select>
                    <input type="text" id="subject" name="subject" class="form-control d-inline-block mr-1" style="width: 400px" placeholder="">
                    <div style="padding-left:5rem;">
                    <br><input type="checkbox" name="searchCondition" id="thisSem"><span class="pl-1"><label for="thisSem">이번 학기 개설 과목만</label></span>
                    </div>
                </div>
            </form>
        </div>

        <div class="toast-body">
            <strong class="mr-auto" style="color:#000000">최근 강의평가</strong>

            <ul class="list-group mt-3 fs-090">
                <li class="list-group-item justify-content-between align-items-left pt-2 pb-2 pl-3 pr-3">
                    <span class="badge badge-primary">New</span>
                    <a class="ml-2 mr-2" style="color:#000000">미적분학I - 김종수 교수님</a>
                    <ion-icon name="add-circle-outline"></ion-icon>
                    <div class="float-right">
                        <ion-icon name="heart-circle-outline"></ion-icon><span class="pl-1 pr-3">3</span>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </div>
                </li>
                <li class="list-group-item justify-content-between align-items-left pt-2 pb-2 pl-3 pr-3">
                    <span class="badge badge-primary">New</span>
                    <a class="ml-2 mr-2" style="color:#000000">추상대수학II - 박진형 교수님</a>
                    <div class="float-right">
                        <ion-icon name="heart-circle-outline"></ion-icon><span class="pl-1 pr-3">11</span>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon>
                    </div>
                </li>
                <li class="list-group-item justify-content-between align-items-left pt-2 pb-2 pl-3 pr-3">
                    <span class="badge badge-primary">New</span>
                    <a class="ml-2 mr-2" style="color:#000000">위상수학개론I - 조장현 교수님</a>
                    <ion-icon name="add-circle-outline"></ion-icon>
                    <div class="float-right">
                        <ion-icon name="heart-circle-outline"></ion-icon><span class="pl-1 pr-3">6</span>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </div>
            </ul>
        </div>
    </div>
    <button onClick="location.reload();">1</button>
    <button onClick="location.reload();">2</button>
    <button onClick="location.reload();">3</button>
    <button onClick="location.reload();">4</button>
    <button onClick="location.reload();">5</button>
    <button onClick="location.reload();">▶</button>
    <button onClick="location.reload();">▶▶</button>
    <script src="js/evaluate.js" type="text/javascript"></script>
</div>
</html>