<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
</head>
<div layout:fragment="content">
    <div class="container pl-0 pr-0">
        <h6 class="mt-4 mb-1" style="color:#000000">> 평가방</h6>
        <div class="row pl-0 pr-0">
            <div class="col-sm pt-2">
                <div class="toast show shadow-none">
                    <div class="toast-header pt-2 pb-2">
                        <strong class="mr-auto" style="color:#000000">금 학기 인기 강의</strong>
                        <small><a href="/favoriteList?state=1&page=1" style="color:#444444">더보기</a></small>
                    </div>
                    <div id="mainEvalSub" class="toast-body fs-095">
                    </div>
                </div>
            </div>
            <div class="col-sm pt-2">
                <div class="toast show shadow-none">
                    <div class="toast-header pt-2 pb-2">
                        <strong class="mr-auto" style="color:#000000">최근 업로드 된 강의평가</strong>
                        <small><a href="/recentEvalRes?page=1" style="color:#444444">더보기</a></small>
                    </div>
                    <div id="mainRecentEval" class="toast-body fs-095">
                        <!-- 최신순 강의평가를 불러옴 -->
                    </div>
                </div>
            </div>
            <div class="col-sm pt-2">
                <div class="toast show shadow-none">
                    <div class="toast-header pt-2 pb-2">
                        <strong class="mr-auto" style="color:#000000">전체 인기 교수</strong>
                        <small><a href="/favoriteList?state=2&page=1" style="color:#444444">더보기</a></small>
                    </div>
                    <div id="mainEvalProf" class="toast-body fs-095">

                    </div>
                </div>
            </div>
        </div>
        <h6 class="mt-4 mb-1" style="color:#000000">>
        질문방
        <small><a href="/postList?page=1&checked=0&type=subject&search=" style="color:#444444; float:right; padding-top:10px">더보기</a></small>
        </h6>
        <!-- 최근 업로드 된 질문 -->
        <ul class="list-group mt-3 fs-090">
            <div id="mainPost">
            </div>
        </ul>
    </div>
    <script src="js/index.js" type="text/javascript"></script>
</div>
</html>