<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
</head>
<div layout:fragment="content">
    -- 메인 화면 디자인 작업 중 --
    <div class="container m-0">
        <div class="row">
            <div class="col-sm p-2">
                <div class="toast show shadow-none">
                    <div class="toast-header">
                        <strong class="mr-auto">인기 강의</strong>
                        <small><a href="#">더보기</a></small>
                    </div>
                    <div class="toast-body">
                        <a href="#">1. 홍길동 - 미적분학</a><br/>
                        <a href="#">2. 미란다 - 데이터베이스</a>
                    </div>
                </div>
            </div>
            <div class="col-sm p-2">

            </div>
            <div class="col-sm p-2">

            </div>
        </div>
    </div>
</div>
</html>