<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <style>
        .mypage-image {
            background-color: #eeeeee;
            width: 143px;
            height: 143px;
            border-radius: 10px;
            cursor: pointer;
        }
    </style>
</head>
<div layout:fragment="content">
    <div class="toast show shadow-none mt-3">
        <div class="toast-header">
            <strong class="mr-auto">마이페이지</strong>
            <small>
                <button type="button" id="btnSave" class="btn btn-outline-primary btn-sm font-weight-normal mt-1 mb-1">
                    수정
                </button>
            </small>
        </div>
        <div class="toast-body">
            <div class="d-flex bd-highlight p-3">
                <div class="p-2 bd-highlight">
                    <div class="p-4 flex-grow-1 mypage-image">
                    </div>
                </div>
                <div class="p-2 ml-3 bd-highlight text-left" style="width:450px">
                    <form id="myPageForm" name="myPageForm">
                        <div class="input-group mb-3">
                            <input type="text" id="myPageEmail" name="email" class="form-control" readonly>
                            <span class="input-group-text ml-2" id="myPageEmailAddon">@sogang.ac.kr</span>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" id="myPageNickname" name="nickname" class="form-control" placeholder="닉네임">
                        </div>
                        <div class="input-group">
                            <input type="text" id="myPagePassword" name="password" class="form-control" placeholder="패스워드">
                            <input type="text" id="myPagePasswordCheck" name="password" class="form-control" placeholder="패스워드 확인">
                        </div>
                    </form>
                </div>
            </div>
            <hr/>
            <div>
                <button type="button" class="btn btn-sm btn-outline-danger mr-1" onclick="location.href='/schedule'">시간표 등록 / 수정</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">기술문의</button>
            </div>
        </div>
    </div>
</div>
</html>