<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <style>
        .mypage-image {
            background-color: #eeeeee;
            width: 143px;
            height: 143px;
            border-radius: 10px;
            background-image: url("/images/mypage_sogang.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -3px 0px;
        }
    </style>
</head>

<div layout:fragment="content">
    <div class="toast show shadow-none mt-3">
        <div class="toast-header">
            <strong class="mr-auto">마이페이지</strong>
            <small>
                <button type="button" id="btnMyPageSave" class="btn btn-outline-danger btn-sm font-weight-normal mt-1 mb-1">저장</button>
                <button type="button" id="btnMyPageCancel" class="btn btn-outline-primary btn-sm font-weight-normal mt-1 mb-1">취소</button>
            </small>
        </div>
        <div class="toast-body">
            <div class="d-flex bd-highlight p-3">
                <div class="p-2 ml-3 bd-highlight mt-4" style="width:800px;">
                    <form id="myPageForm" name="myPageForm">
                        <div class="d-flex">
                            <div class="input-group mb-3" style="width:50%">
                                <span class="input-group-text">이메일</span>
                                <input type="text" id="myPageEmail" name="email" th:value="${session.email}" class="form-control ml-2" style="width:20%" readonly>
                                <span class="input-group-text ml-2" id="basic-addon2">@sogang.ac.kr</span>
                            </div>
                            <div  class="input-group mb-3" style="width:25%">
                                <button type="button" id="btnChangeEmail" class="btn btn-outline-primary font-weight-normal ml-2">수정</button>
                                <button type="button" id="btnMySendAuth" class="btn btn-outline-primary font-weight-normal ml-2 mr-2">인증발송</button>
                                <input type="text" id="myAuthCode" name="authCode" class="form-control ml-2" placeholder="인증번호" >
                                <input type="hidden" id="myEmailAuth" class="auth" value="0"/>
                                <button type="button" id="btnMyAuthCodeCheck" class="btn btn-outline-primary font-weight-normal ml-2">확인</button>
                                <img src="images/check.png" id="myValidAuthCode" class="ml-2" style="width:18%;">
                                <input type="hidden" id="myEmailCheckAuth" class="auth" value="0"/>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="input-group mb-3" style="width:50%">
                                <span class="input-group-text">닉네임</span>
                                <input type="text" id="myPageNickname" name="nickname" th:value="${session.nickname}" class="form-control ml-2" readonly>
                            </div>
                            <div class="input-group mb-3" style="width:50%">
                                <button type="button" id="btnChangeNickname" class="btn btn-outline-primary font-weight-normal ml-2">수정</button>
                                <button type="button" id="btnMyNicknameCheck" class="btn btn-outline-primary font-weight-normal ml-2" >중복확인</button>
                                <img src="images/check.png" id="myValidNickname" class="ml-2" style="width:9%;">
                                <input type="hidden" id="myNicknameAuth" class="auth" value="0" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr/>
            <div>
                <button type="button" id="btnPasswordChange" class="btn btn-sm btn-outline-primary mr-1" data-toggle="modal" data-target="#passwordUpdate">패스워드 변경</button>
                <button type="button" class="btn btn-sm btn-outline-danger mr-1" onclick="location.href='/schedule'">시간표 등록 / 수정</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">기술문의</button>
            </div>
        </div>
    </div>

    <!-- password Update modal -->
    <div class="modal fade" id="passwordUpdate" tabindex="-1" role="dialog" aria-labelledby="passwordUpdateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <br>
                    <h5 class="modal-title" id="passwordUpdateModalLabel">비밀번호 변경</h5>
                    <button type="button" id="btnPassChangeClose" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body w-75 m-auto">
                    <form id="passwordUpdateForm" name="passwordUpdateForm">
                        <input type="password" id="currentPassword" name="password" class="form-control mb-3" placeholder="현재 패스워드" maxlength="20">
                        <input type="password" id="changePassword" name="password" class="form-control" placeholder="새 패스워드(영문+숫자+특수문자 조합 8자~20자)" maxlength="20">
                        <div id="changePasswordFail" class="small mb-3" style="color:red; text-indent:1em;">패스워드는 영문+숫자+특수문자 조합 8자~20자이어야 합니다.</div>
                        <input type="hidden" id="changePasswordAuth" class="auth" value="0" />
                        <input type="password" id="changePasswordCheck" name="passwordCheck" class="form-control mt-3" placeholder="새 패스워드 확인" maxlength="20">
                        <div id="changePasswordCheckFail" class="small mb-3" style="color:red; text-indent:1em;">패스워드가 일치하지 않습니다.</div>
                        <input type="hidden" id="changePasswordCheckAuth" class="auth" value="0" />
                    </form>
                </div>
                <div class="modal-footer" align="right">
                    <button type="button" id="btnPasswordChangeSubmit" class="btn btn-primary font-weight-normal">변경하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>