<!DOCTYPE html>
<html>
    <div class="toast show shadow-none">
        <div class="toast-header">
            <form>
                <div class="float-left pt-2" id="buttons">

                </div>
                <br><br><br>
                <div class="float-left pt-1" style="font-size: 20px; color: black"> 퀵 메뉴 설정</div>
                <div class="toast-body pt-3 mt-4 mb-1" style="font-size: 18px">
                    <ul class="list-group mt-1 pl-2 pr-2 fs-090">
                        <table class="table-hover">
                            <thead>
                            <tr>
                                <th>수 강 중</th>
                            </tr>
                            </thead>
                            <tbody id="thisSemesterTaken">
                                <!-- 수강 중인 강의 목록 -->
                            </tbody>
                        </table>
                    </ul>
                </div>
                <div class="toast-body pt-3 mb-1" style="font-size: 18px">
                    <ul class="list-group mt-1 pl-2 pr-2 fs-090">
                        <table class="table-hover">
                            <thead>
                            <tr>
                                <th>즐 겨 찾 기</th>
                            </tr>
                            </thead>
                            <tbody id="liked">
                                    <!-- 즐겨찾기에 추가한 과목 -->
                            </tbody>
                        </table>
                    </ul>
                </div>
            </form>
        </div>
        <script src="js/quickMenu.js" type="text/javascript"></script>
    </div>
</html>