<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
</head>
<div layout:fragment="content">
    <div class="toast show shadow-none mt-3">
        <div class="toast-header">
            <strong class="mr-auto mt-2 mb-2">시간표 등록 / 수정</strong>
            <button type="button" id="btnSave" class="btn btn-outline-danger btn-sm font-weight-normal mt-1 mb-1">저장</button>
        </div>
        <div class="toast-body">
            <form>
                <div class="form-group input-group-sm btn-group-sm mt-2 ml-2">
                    <select id="selectYear" class="form-control d-inline-block mr-1" style="width: 130px">
                        <!-- 수강년도/학기 데이터 -->
                    </select>
                    <select id="selectMajor" class="form-control d-inline-block mr-1" style="width: 200px">
                        <option>전공</option>
                    </select>
                    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
                    <script src="//code.jquery.com/jquery.min.js"></script>
                    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
                    <input type="text" id="subject" name="subject" class="form-control d-inline-block mr-1" style="width: 200px">
                    <!-- Button Group -->
                    <button type="button" id="btnInsert" class="btn btn-outline-primary align-top mr-1">추가</button>
                    <button type="button" id="btnDelete" class="btn btn-outline-primary align-top mr-1">삭제</button>
                </div>
                <span class="badge badge-primary ml-2 mb-2 fs-095">나의 시간표</span>
                <!-- 그리드 -->
                <div id="grid"></div>
            </form>
        </div>
    </div>
    <script src="js/schedule.js" type="text/javascript"></script>
</div>
</html>